body{
    background-color: #F2F3F4;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
}